<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lilei | </title>
    <link rel="stylesheet" href="/style.css">
    <!-- <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            min-height: 100vh;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            gap: 1rem;
            justify-content: center;
            text-transform: capitalize;
            margin: 2rem;
        }
        ul li a{
            text-decoration: none;
        }


        form {
            display: flex;
            flex-direction: column;
            /* padding: 10rem; */
            margin: 0rem 19rem;
            justify-content: center;
        }

        input[type=text] {
            padding: .2rem;
        }
        div.home{
            padding: 5rem;
            /* text-transform: capitalize; */
        }
        div.blogs{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 1rem;
            margin: 0rem 5rem;
        }
        div.blogs div.blog{
            width: 300px;
            padding: 1rem;
            background-color: wheat;
            border-radius: 5px;

        }
    </style> -->
</head>