<div class="fix">
    <header>
        <div class="logo">
            <h1>Blog NiNJA</h1>
            <p>A net ninja site</p>
        </div>
        <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs">blogs</a></li>
            <li><a href="/blogs/create">new blog</a></li>
        </ul>
    </header>
    <!-- <div class="test">hello bro
    </div> -->
</div>
