<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="home">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ipsam vel, facilis quam, iusto ipsum repellendus, tempore corporis quo atque cumque explicabo fugit laborum a obcaecati iste magni consequuntur libero.</p>
    </div>
</body>
</html>