<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <h1>Home 🥑</h1>
    
    <%- include('./partials/nav.ejs')  %> 

    <div class="home">
        <h1>Welcome to our page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum totam vel similique eveniet quo ipsum, eius expedita optio asperiores ad impedit deserunt quibusdam omnis aliquam dolorem veritatis recusandae reiciendis! Ullam eveniet quos dicta, blanditiis dolorum placeat nostrum eos illo.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>